body {
	background-color: #ece3d7;
}

header {
	background-color: #931a2a;
	margin-top: 40px;
	margin: 5px;
	border-width: 5px;
	border-color: #931a2a;
	border-style: solid;
	border-radius: 15px;
}
h1 {
	color: #ece3d7;
	font-size: 40px;
	font-family: Georgia, Palatino, 'Century Schoolbook', serif;
	padding: 2px;
}
h2 {
	text-align: center;
	font-size: 34px;
	font-family: Georgia, Palentino, 'Century Schoolbook' serif;
	color: #931a2a;
	max-width: 800px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	background-color: #FFF;
}
section {
	text-align: center;
	max-width: 800px;
}
article {
	background-color: #FFFFFF;
	max-width: 800px;
	padding: 10px;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin: 5px;
	border-radius: 15px;

}
p {
	font-size: 20px;
	font-family: Georgia, Palentino, 'Century Schoolbook', serif;
}
.title {
	font-size: 24px;
}
#added {
	font-size: 18px;
}
nav ul {
	list-style-type: none;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	margin: 2px;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	color: #931a2a;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}
nav li a:hover {
	background-color: #ece3d7;
}
table, th, td{
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}
th {
	height: 50px;
	text-align: center;
	padding: 15px;
}
td {
	height: 25px;
	text-align: left;
	vertical-align: bottom;
	padding: 15px;
}
